.security{
 margin-top:10vh;
}

.change-password-container {
    margin: 50px auto;
    /* color: #fff; */


    background-color: rgba(25, 25, 25, 0.95);
    width: 400px;
    padding: 40px 30px;
    border: 1px solid #ffffff1a;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  }
  
  .head-h2 {
    margin-bottom: 24px;
    text-align: center;
    color: #ffffff;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
 .form-group input {
    width: 95%;
    background: #1c1c1c;
    border: 1px solid #ffffff1a;
    border-radius: 6px;
    padding: 12px;
    font-size: 14px;
    color: #ffffff;

  }
  
  input:focus {
    outline: none;
    border-color: #999;
  }
  
  .update-btn {
    width: 100%;
    padding: 12px;
    background: #fff;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .update-btn:disabled {
    background: #888;
    cursor: not-allowed;
  }
  

@media screen and (max-width: 780px) {
  .change-password-container{
    width: 80vw;;
  }
}